body
{
  margin-right: 120px;
  margin-left: 120px;
}

a:link#websiteName
{
  text-decoration: none;
}

a:visited#websiteName
{
  color: black;
  text-decoration: none;
}

ul#menu
{
  border-radius: 15px;
  list-style-type: none;
  overflow: hidden;
  opacity: 0.9;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  background-color: #101010;
}

ul#menu li
{
  float: left;
}

ul#menu li a
{
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px;
  background-color: #101010
}

ul#menu li a:hover
{
  background-color: #003088;
}

ul#menu li form
{
  padding-left: 75px;
  margin-top: 10px;
}

input#searchBox
{
  color: #ffffff;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: solid;
  border-width: 1px;
  background-color: #101010;
}